In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
url = 'https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'

In [ ]:
response = requests.get(url)
html = response.text

In [ ]:
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
movie_name_anchors = soup.select('h3.lister-item-header a')

In [ ]:
movie_name_anchors

In [ ]:
movie_names = []

In [ ]:
for anchor in movie_name_anchors:
  name_text = anchor.get_text()
  movie_names.append(name_text)

In [ ]:
len(movie_names)

50

In [ ]:
year_spans = soup.select("span.lister-item-year")

In [ ]:
year_spans

In [ ]:
years = []

In [ ]:
for year_span in year_spans:
  year_text = year_span.get_text(strip=True)
  year_cleaned = year_text.strip("()")
  years.append(year_cleaned)

In [ ]:
len(years)

50

In [ ]:
strong_elements = soup.select("div.inline-block.ratings-imdb-rating strong")

In [ ]:
strong_elements

In [ ]:
imdb_ratings = []

In [ ]:
for strong_element in strong_elements:
  rating_text = strong_element.get_text()
  imdb_ratings.append(rating_text)

In [ ]:
imdb_ratings

In [ ]:
data = {
    "movie_name": movie_names,
    "release_year": years,
    "ratings": imdb_ratings
}

In [ ]:
import pandas as pd

In [ ]:
imdb_df = pd.DataFrame(data)

In [ ]:
imdb_df.head()

                 movie_name release_year ratings
0  The Shawshank Redemption         1994     9.3
1             The Godfather         1972     9.2
2           The Dark Knight         2008     9.0
3          Schindler's List         1993     9.0
4     The Godfather Part II         1974     9.0

In [ ]:
imdb_df.tail()

                movie_name release_year ratings
45      American History X         1998     8.5
46                  Psycho         1960     8.5
47        The Intouchables         2011     8.5
48              Casablanca         1942     8.5
49  Grave of the Fireflies         1988     8.5

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_name    50 non-null     object
 1   release_year  50 non-null     object
 2   ratings       50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [ ]:
imdb_df.describe()

                      movie_name release_year ratings
count                         50           50      50
unique                        50           35       8
top     The Shawshank Redemption         1994     8.5
freq                           1            5      17

In [ ]:
imdb_df.to_csv('output.csv', encoding='utf-8', index=False)